:root {
  --color1: #ac0c0c;
  --color2: #1f8a70;
  --color3: #00425a;
  --color4: #181823;
  --color5: #eff5f5;

  --font-Belanosima: "Belanosima", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--font-Poppins);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f7e1dc;
}

h1 {
  text-align: center;
  color: var(--color4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  height: 80vh;
  border-radius: 6px;
  border: solid 2px var(--color4);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e1e1;
}

input,
textarea,
label {
  width: 80%;
  height: 10%;
  margin: 0.5rem;
}

label {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color4);
  font-weight: bold;
}

input,
textarea {
  border: 2px solid var(--color4);
  border-radius: 4px;
}

textarea {
  resize: none;
}

.submit {
  background-color: #a19b9b;
  border: 2px solid var(--color4);
  margin-top: 7rem;
  width: 30%;
  height: 3rem;
  font-weight: bold;
}

.submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.info:valid {
  border-color: var(--color2);
}

.info:invalid {
  border-color: var(--color1);
}

.info {
  margin-bottom: 3rem;
}
