:root{
    --color1: #FC7300;
    --color2: #1F8A70;
    --color3: #00425A;
    --color4: #181823;
    --color5: #EFF5F5;

    --font1: 'Belanosima', sans-serif;
    --font2: 'Poppins', sans-serif;
}

