:root {
  --color1: #fc7300;
  --color2: #1f8a70;
  --color3: #00425a;
  --color4: #181823;
  --color5: #e2e1e1;

  --font-Belanosima: "Belanosima", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--font-Poppins);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--color5);
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu {
  margin: 0;
  background-color: var(--color4);
}

.menu__container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__container__item {
  font-size: 0.6rem;
  color: var(--color5);
  padding: 0.5rem;
}

.menu__container__item a {
  text-decoration: none;
  color: inherit;
  transition-property: font-size;
  transition-duration: 0.6s;
  position: relative;
  overflow: hidden;
}

.menu__container__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color1);
  opacity: 0;
  transition: width 0.7s, opacity 0.7s;
}

.menu__container__item a:hover::after {
  width: 100%;
  opacity: 1;
}

.menu__container__item a:hover {
  cursor: pointer;
  font-size: 0.7rem;
  color: var(--color1);
}

.tittle {
  text-align: center;
  text-decoration: underline;
  padding: 1rem;
  font-size: 3rem;
  font-family: var(--font-Belanosima);
  text-shadow: 0.5rem 0.5rem 0.9rem var(--color4);
  background-image: url(../img/fondo-titulo.webp);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.subtitle {
  font-family: var(--font-Belanosima);
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}

.text {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.container-cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "card1 card2"
    "card3 card4";
  align-items: center;
  justify-items: center;
}

.container-cards img {
  margin: 1rem 0 0 0;
  box-shadow: -6px -6px 6px -3px var(--color4);
}

.container-cards h5 {
  margin: 1rem 0;
}

.contariner-cards__card1 {
  grid-area: card1;
  transition-property: transform;
  transition-duration: 0.5s;
  width: 90%;
  height: auto;
}

.contariner-cards__card1:hover {
  transform: scale(1.1);
}

.contariner-cards__card2 {
  grid-area: card2;
  transition-property: transform;
  transition-duration: 0.5s;
  width: 90%;
  height: auto;
}

.contariner-cards__card2:hover {
  transform: scale(1.1);
}

.contariner-cards__card3 {
  grid-area: card3;
  transition-property: transform;
  transition-duration: 0.5s;
  width: 90%;
  height: auto;
}

.contariner-cards__card3:hover {
  transform: scale(1.1);
}

.contariner-cards__card4 {
  grid-area: card4;
  transition-property: transform;
  transition-duration: 0.5s;
  width: 90%;
  height: auto;
}

.contariner-cards__card4:hover {
  transform: scale(1.1);
}

.tittle-news {
  padding-left: 0.7rem;
  text-decoration: underline;
}

#who-we-are,
#why-choose-us,
#educational-proposal,
#latest-news {
  text-align: center;
}

#latest-news,
#why-choose-us {
  background-color: #f7e1dc;
}

main img {
  width: 70%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0px 8px 27px 1px var(--color4);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#art {
  width: 30%;
}

#excursion {
  width: 40%;
}

#institute {
  width: 60%;
}

#classroom {
  width: 60%;
}

.footer {
  margin: 0;
  background-color: var(--color4);
  color: var(--color5);
  display: flex;
  justify-content: space-between;
}

.footer__socials,
.footer__institute,
.footer__contact {
  text-align: center;
  padding: 0.5rem;
}

.footer__socials__container {
  display: flex;
  padding: 0;
}

.footer__socials__container__icon {
  height: auto;
  width: 2rem;
  padding: 0.3rem;
  transition-property: all;
  transition-duration: 1s;
}

.footer__socials__container__icon:hover {
  transform: rotateZ(360deg);
}

.footer__contact__list {
  padding: 0;
  list-style-type: none;
}

.footer__contact__list__item {
  font-size: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Media */
@media screen and (max-width: 350px) {
  html {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }

  #art {
    width: 30%;
  }

  #excursion {
    width: 30%;
  }

  #institute {
    width: 50%;
  }

  #classroom {
    width: 50%;
  }

  .menu__container__item {
    font-size: 0.8rem;
  }

  .menu__container__item a:hover {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.15rem;
  }

  #who-we-are,
  #why-choose-us {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas:
      "tittle tittle"
      "img text";
    justify-items: center;
    align-items: center;
    padding: 0 2rem;
  }

  .subtitle {
    grid-area: tittle;
  }

  .menu__container__item {
    font-size: 0.8rem;
  }

  #art {
    width: 17%;
  }

  #excursion {
    width: 20%;
  }

  #institute {
    width: 60%;
  }

  #classroom {
    width: 60%;
  }

  .contariner-cards__card1,
  .contariner-cards__card2,
  .contariner-cards__card3,
  .contariner-cards__card4 {
    width: 60%;
  }

  .text {
    padding: 2rem;
  }
}
